html{
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.body{
    font-family: Arial;
    width: 100%;
    height: 100%;
    background-color: honeydew;
    margin: 0;
    overflow-x: hidden;
}

.navigation{
    display: none;
}

.nav-trigger{
    display: none;
}

label[for="nav-trigger"]{
    display: none;
}

.header-container{
    width: 100%;
    background: honeydew;
    box-shadow: 0 2px 4px #808080;
    height: 3em;
    max-height: 3em;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
}

.header__logo_img{
    max-height: 2.3em;
}

.header__entry-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-left: 2em;
}

.header__entry-button{
    white-space:nowrap;
    box-shadow: 3px 3px 5px #5285b4;
    margin: 0 5px;
    padding: 5px;
}

.button_navy:link, .button_navy:visited{
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    background-color: navy;
    color: white;
    border: 0.14em solid navy;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.button_navy:link:hover, .button_navy:visited:hover{
    color: navy;
    background-color: white;
}

.header__nav-bar{
    white-space: nowrap;
    border-radius: 5px;
    justify-content: space-between;
}

.header__nav-bar_button{
    background-color: transparent;
    border-radius: 0;
    color: navy;
    padding: 5px 9px;
    margin: 0;
    align-items: center;
    text-decoration:none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.header__nav-bar_button:hover {
    color: lightseagreen;
}

.converter-container{
    color: #0d47a1;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    align-items: center;
}

.converter__background{
    width: 70%;
    min-width: 320px;
    background-color: white;
    box-shadow: 3px 3px 6px #808080, 8px 8px white;
    padding: 10px;
}

.converter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.converter-align-result{
    font-size: 1.3em;
}

.converter__main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.converter__text{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 10px;
}

.converter__main_currency{
    display: flex;
    flex-direction: row;
    margin: 25px 0 15px 0;
}

.converter__main_currency_from{
    border: none;
    border-bottom: 1px solid #0d47a1;
    text-align: center;
    margin-left: 10px;
    font-size: 0.9em;
    width: 3em;
}

.converter__main_currency_into{
    border: none;
    border-bottom: 1px solid #0d47a1;
    text-align: center;
    margin-left: 5.4em;
    font-size: 0.9em;
    width: 3em;
}

.converter__result{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px 0;
}

.converter__result_text{
    margin-right: 10px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer__copyright{
    display: flex;
    color: black;
    white-space: nowrap;
    font-size: 1.1em;
}

.footer__copyright_image{
    max-height: 1em;
    margin-right: 10px;
}

.footer__social{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.social__text{
    white-space: nowrap;
    font-size: 1.1em;
    margin: 0 20px;
}

.social__links{
    width: 2.1em;
    height: 2.1em;
    line-height: 2.1em;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
}


.facebook{
    background: #3b5998;
    margin-right: 0.2em;
}

.google{
    background: #d62d20;
    margin: 0 0.2em;
}

.twitter{
    background: #00aced;
    margin-left: 0.2em;
}

.fa{
    color: #fff;
}

@media screen and (max-width: 1024px){

    html{
        font-size: 20px;
    }

    .header{
        position: fixed;
        z-index: 2;
    }

    .header__logo_img{
        height: 2.7em;
    }

    .header__nav-bar{
        display: none;
    }

    .header__entry-buttons{
        display: none;
    }

    .navigation{
        display: block;
        list-style: none;
        background: honeydew;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 3.5rem;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .nav-item{
        color: navy;
        text-decoration: none;
        padding: 1% 5% 0 20%;
        font-size: 1.45em;
    }

    .nav-line{
        padding: 3% 0 0 0;
        text-align: right;
    }

    .site-wrap{
        min-width: 100%;
        background-color: honeydew;
        position: relative;
        right:0;
        z-index:1;
    }

    .nav-trigger{
        position: absolute;
        clip: rect(0,0,0,0);
    }

    label[for="nav-trigger"]{
        display: inherit;
        position: fixed;
        top: 1rem;
        right: 3%;
        z-index: 2;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        background-size: contain;
        color: navy;
    }

    .nav-trigger:checked + label:before{
        content: "\f00d";
    }

    .nav-trigger:checked ~ .site-wrap{
        right: 13em;
    }

    .nav-trigger + label, .site-wrap{
        transition: right 0.4s;
    }

    .converter__background{
        width: 100%;
        box-shadow: 0 3px 4px #808080;
        padding: 0;
    }

}

@media screen and (max-width: 786px){

    .social__text{
        display: none;
    }

}

@media screen and (max-width: 480px){

    html{
        font-size: 17px;
    }

    .footer{
        font-size: 0.8rem;
    }

}