html{
    font-size: 20px;
    height: 100%;
}

.body{
    font-family: Arial, Georgia;
    width: 100%;
    background-color: honeydew;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.navigation{
    display: none;
}

.nav-trigger{
    display: none;
}

label[for="nav-trigger"]{
    display: none;
}

.header-container{
    width: 100%;
    background: honeydew;
    box-shadow: 0 2px 4px #808080;
    height: 3em;
    max-height: 3em;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
}

.header__logo_img{
    max-height: 2.3em;
}

.header__entry-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-left: 2em;
}

.header__entry-button{
    white-space:nowrap;
    box-shadow: 3px 3px 5px #5285b4;
    margin: 0 5px;
    padding: 5px;
}

.button_navy:link, .button_navy:visited{
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    background-color: navy;
    color: white;
    border: 0.14em solid navy;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.button_navy:link:hover, .button_navy:visited:hover{
    color: navy;
    background-color: white;
}

.header__nav-bar{
    white-space: nowrap;
    border-radius: 5px;
    justify-content: space-between;
}

.header__nav-bar_button{
    background-color: transparent;
    border-radius: 0;
    color: navy;
    padding: 5px 9px;
    margin: 0;
    align-items: center;
    text-decoration:none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.header__nav-bar_button:hover {
    color: lightseagreen;
}

.invoice{
    color: #0d47a1;
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
}

.invoice__background{
    width: auto;
    background-color: white;
    box-shadow: 3px 3px 6px #808080, 8px 8px white;
    padding: 10px;
}

.invoice__main-field{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.invoice__main-field_invoice-word{
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
}
.invoice__main-field_num-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.invoice__main-field_num-input_num{
    background-color: #0d47a1;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 6px;
}

.invoice__main-field_num-input_field{
    background-color: transparent;
    border: 1px solid #0d47a1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 180px;
    font-size: 1.2em;
    color: #0d47a1;
    padding-left: 5px;
}

.invoice-input-fields{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    margin-top: 1.5em;
    align-items: flex-start;
}

.invoice-input-fields__input_s{
    font-size: 1em;
    padding: 0.8rem 0.3rem;
    color: #0d47a1;
    border: 1px dashed #0d47a1;
    background-color: transparent;
    font-weight: normal;
    border-radius: 5px;
    margin: 4px 10px;
    text-overflow: ellipsis;
}

.invoice-input-fields__input_span{
    flex-direction: row;
    align-items: center;
}

.invoice-input-fields__input-area{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    margin: 7px 20px;
}

.invoice__settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.settings__field{
    border: none;
    border-bottom: 1px solid #0d47a1;
    background-color: transparent;
    padding: 4px;
    text-align: center;
    margin-left: 1rem;
    font-size: 1rem;
    width: 9em;
}

.invoice__table{
    margin: 30px;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}

.table__header{
    background-color: #0d47a1;
    color: white;
    display: grid;
    grid-template-columns: 50% 15% 15% 20%;
    padding: 8px;
    border-radius: 10px;
}

.table__header_item_left{
    padding: 0 16px;
    text-align: left;
}

.table__header_item_center{
    padding: 0 16px;
    text-align: center;
}

.table__row{
    display: grid;
    grid-template-columns: 50% 15% 15% 20%;
    margin-top: 2px;
}

.table__row_item_left{
    margin: 0 6px 0 1px;
}

.table__row_item_common{
    margin: 0 1px 0 2px;
}

.table__row_navy{
    width: 100%;
    border: 1px dashed #0d47a1;
    border-radius: 8px;
    font-size: 0.9em;
    color: #0d47a1;
}

.input__left{
    padding: 0.29em 0 0.29em 0.25em;
}

.input__common{
    padding: 0.29em 0 0.29em 0;
    text-align: center;
}

.row__amount{
    padding: 0.29em 0 0.29em 0;
    text-align: center;
}

.table__footer{
    margin-top: 0.5em;
}

.table__line_add{
    text-align: center;
    padding: 0 5px;
}

.invoice__total{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: navy;
    font-weight: bold;
}

.total_row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.total_column{
    align-items: flex-end;
}

.total_row_item{
    margin-left: 15px;
    margin-top: 10px;
}

.invoice__send{
    display: flex;
    margin: 2em 1em 1em 1em;
    justify-content: center;
}

.invoice__send_to{
    font-size: 1.1em;
    padding: 10px;
    margin: 0 10px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__copyright{
    display: flex;
    color: black;
    white-space: nowrap;
    font-size: 1.1em;
}

.footer__copyright_image{
    max-height: 1em;
    margin-right: 10px;
}

.footer__social{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.social__text{
    white-space: nowrap;
    font-size: 1.1em;
    margin: 0 20px;
}

.social__links{
    width: 2.1em;
    height: 2.1em;
    line-height: 2.1em;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
}


.facebook{
    background: #3b5998;
    margin-right: 5px;
}

.google{
    background: #d62d20;
    margin: 0 5px;
}

.twitter{
    background: #00aced;
    margin-left: 5px;
}

.fa{
    color: #fff;
}

@media screen and (max-width: 1024px){

    html{
        font-size: 22px;
    }

    .header{
        position: fixed;
        z-index: 2;
    }

    .header__logo_img{
        height: 2.7em;
    }

    .header__nav-bar{
        display: none;
    }

    .header__entry-buttons{
        display: none;
    }

    .invoice-input-fields {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        margin-top: 1.5em;
        align-items: flex-start;
        justify-content: space-around;
    }

    .invoice-input-fields__input-area {
        white-space: pre-line;
        align-items: flex-start;
        margin: 0;
    }

    .invoice-input-fields__input_span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5rem;
    }

    .settings__field{
        font-size: 0.8em;
        width: 8em;
    }

    .input__common {
        text-align: center;
        padding: 0.29em 0.02em 0.29em 0.02em;
    }

    .row__amount {
        padding: 0.29em 0 0.29em 0;
        text-align: center;
    }

    .navigation{
        display: block;
        list-style: none;
        background: honeydew;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 3.5rem;
        bottom: 0;
        right: 0;
        z-index: 0;
    }

    .nav-item{
        color: navy;
        text-decoration: none;
        padding: 1% 5% 0 20%;
        font-size: 1.45em;
    }

    .nav-line{
        padding: 3% 0 0 0;
        text-align: right;
    }

    .site-wrap{
        min-width: 100%;
        height: auto;
        background-color: honeydew;
        position: relative;
        right:0;
        z-index:1;
    }

    .nav-trigger{
        position: absolute;
        clip: rect(0,0,0,0);
    }

    label[for="nav-trigger"]{
        display: inherit;
        position: fixed;
        top: 1rem;
        right: 3%;
        z-index: 2;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        background-size: contain;
        color: navy;
    }

    .nav-trigger:checked + label:before{
        content: "\f00d";
    }

    .nav-trigger:checked ~ .site-wrap{
        right: 13em;
    }

    .nav-trigger + label, .site-wrap{
        transition: right 0.4s;
    }

    .invoice__background{
        box-shadow: 0 3px 4px #808080;
        margin-bottom: 3em;
    }

    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

}

@media screen and (max-width: 820px){

    html{
        font-size: 20px;
    }

    .body{
        font-size: 1em;
    }

    .invoice__settings{
        flex-direction: column;
        align-items: center;
    }

    .settings__field{
        width: 9em;
        margin-top: 1em;
        font-size: 0.9em;
    }

    .invoice__table{
        margin: 1em 0 0 0;
    }

    .invoice-input-fields__input_s{
        width: 12em;
    }

    .input__left {
        font-size: 0.9rem;
        padding: 0.46em 0.05em 0.46em 0.25em;

    }

    .footer{
        font-size: 1em;
    }

    .invoice__main-field_num-input_num{
        padding: 0.4em;
    }

    .invoice__main-field_num-input_field{
        font-size: 1.5em;
    }

    .nav-trigger:checked ~ .site-wrap{
        right: 11em;
    }

    .nav-item{
        font-size: 1.45em;
    }

}

@media screen and (max-width: 700px){

    .invoice-input-fields__input-area{
        margin-top: 2em;
    }

    .invoice-input-fields__input_span{
        margin-top: 0.6em;
    }

    .invoice-input-fields {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 0;
    }

    .footer{
        font-size: 0.9em;
    }

    .invoice-input-fields__input_s {
        width: 15em;
    }

}

@media screen and (max-width: 580px){

    html{
        font-size: 18px;
    }

    .footer{
        font-size: 0.85em;
    }

    .social__text{
        display: none;
    }

    .table__header{
        font-size: 0.8em;
    }

    .table__header_item_left{
        padding: 0 0.3em;
    }

    .table__header_item_center{
        padding: 0 0.5em;
    }

    .nav-trigger:checked ~ .site-wrap{
        right: 12em;
    }

    .nav-item{
        font-size: 1.6em;
    }

}

@media screen and (max-width: 410px){

    .settings__field {
        width: 8em;
        margin-top: 1em;
        font-size: 0.8em;
    }

    .nav-trigger:checked ~ .site-wrap{
        right: 11em;
    }

    .nav-item{
        font-size: 1.45em;
    }

}

@media screen and (max-width: 375px){

    html{
        font-size: 15px;
    }

}